<div class="container perguntas-container pt-5">
  <div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 mx-2">
        <form>
          <div class="form-group col-lg-8">
            <select class="form-control" id="tema" [(ngModel)]="temaSelecionado" (ngModelChange)="onTemaChange()" name="tema">
              <option *ngFor="let tema of listaTemas" [value]="tema.id">{{ tema.tema }}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 mb-3">
        <div class="nav-horizontal">
          <ul class="nav nav-pills nav-fill nav-horizontal-pills-sm">
            <li class="nav-item" *ngFor="let prop of perguntasTemaSelecionado; let i = index">
              <a class="nav-link" [ngClass]="{'active': prop.id_votacao === perguntaSelecionada.id_votacao}" (click)="escolhePergunta(prop.id_votacao)">
                {{i+1}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div *ngIf="perguntaSelecionada" class="col-md-8 col-lg-6 mx-2">
        <app-pergunta [projLei]="perguntaSelecionada.projeto_lei" [title]="perguntaSelecionada.titulo" [description]="perguntaSelecionada.descricao"
          [id]="perguntaSelecionada.id_votacao"></app-pergunta>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div *ngIf="perguntaSelecionada" class="col-md-8 col-lg-6">
      <div class="btn-group blocks d-flex justify-content-center my-3" role="group" aria-label="Resposta">
        <button type="button" class="btn btn-primary btn-in-favor">a favor</button>
        <button type="button" class="btn btn-primary">não sei</button>
        <button type="button" class="btn btn-primary btn-against">contra</button>
      </div>
    </div>
  </div>
</div>