$viewport-negative-height: 335px;

.container-pergunta {
  padding-top: 15px;
  padding-bottom: 50px;
}

.pergunta-progress-bar {
  display: flex;
  flex-wrap: wrap;
}

.pergunta-progress-item {
  flex: 1 1 auto;
  height: 1rem;
  margin-right: 2px;
  background-color: #ebe9e9;
  cursor: pointer;
  transition: background-color .5s;

  &.active {
    background-color: #20201E;

    &.done {
      background-color: #20201E;
    }
  }

  &.done {
    background-color: #adb5bd;
  }

  &:last-child {
    margin-right: 0;
  }
}

.icon-hidden {
  opacity: 0;
}

.icon-show {
  opacity: 1;
}

.btn-pergunta {
  @media (max-width: 400px) {
    font-size: .65rem;
  }
}
