<div class="container">
  <div class="container-pergunta">
    <!-- Selecionar temas -->
    <form>
      <div class="form-group">
        <select
          class="form-control"
          id="tema"
          [(ngModel)]="temaSelecionado"
          (ngModelChange)="onTemaChange()"
          name="tema"
        >
          <option
            *ngFor="let tema of listaTemas"
            [value]="tema.id"
          >
            {{ tema.tema }}
          </option>
        </select>
      </div>
    </form>

    <!-- Indicadores de navegação -->
    <div class="pergunta-progress-bar mb-4">
      <div
        *ngFor="let prop of perguntasTemaSelecionado; let i = index"
        [ngClass]="{
          'pergunta-progress-item': true,
          'active': prop.id_votacao === perguntaSelecionada.id_votacao,
          'done': respondeuPergunta(prop.id_votacao)}"
        (click)="escolhePergunta(prop.id_votacao)"
      >
      </div>
    </div>

    <div *ngIf="perguntaSelecionada">
      <app-pergunta
        [projLei]="perguntaSelecionada.projeto_lei"
        [title]="perguntaSelecionada.titulo"
        [description]="perguntaSelecionada.descricao"
        [id]="perguntaSelecionada.id_votacao"
      ></app-pergunta>
    </div>

    <div *ngIf="perguntaSelecionada">
      <div
        class="btn-group blocks d-flex justify-content-center my-3"
        role="group"
        aria-label="Resposta"
      >
        <button
          type="button"
          [ngClass]="{'btn': true, 'btn-primary': !respostaPositiva(), 'btn-success': respostaPositiva()}"
          (click)="setResposta(1)"
        >
          a favor
        </button>
        <button
          type="button"
          [ngClass]="{'btn': true, 'btn-primary': !respostaNeutra(), 'btn-info': respostaNeutra()}"
          (click)="setResposta(-2)"
        >
          não
          sei
        </button>
        <button
          type="button"
          [ngClass]="{'btn': true, 'btn-primary': !respostaNegativa(), 'btn-secondary': respostaNegativa()}"
          (click)="setResposta(-1)"
        >
          contra
        </button>
      </div>

      <div class="text-center mt-4">
        <button
          type="button"
          [routerLink]="['/alinhamento']"
          [ngClass]="{'btn': true, 'btn-outline-primary': canVerResultados(), 'btn-outline-info': !canVerResultados()}"
          [disabled]=!canVerResultados()
        >
          ver resultados
        </button>

      </div>
    </div>

  </div>
</div>
