.nav-link {  
  padding: 0;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.nav-pills .nav-link {
  border-radius: 0;
  border-bottom: solid 6px #eeeeee;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #41c083;
  background: transparent;
  border-bottom: solid 6px #41c083;
}

.blocks .btn {
  margin: 0 0.5px;
}

.btn-in-favor {
  padding-left: 1.7rem;  
}

.btn-against {
  padding-right: 1.7rem;  
}

li a {
  color: #ccc;
  cursor: pointer;
}

