<div class="container">
  <div class="container-pergunta pt-4">
    <h4 class="title-main">Quais os seus posicionamentos?</h4>
    <!-- Selecionar temas -->
    <div class="container-pergunta-controls d-block d-md-none">
      <form>
        <div class="form-group form-group-plus">
          <select
            class="form-control form-control-plus"
            id="tema"
            [(ngModel)]="temaSelecionado"
            (ngModelChange)="onTemaChange()"
            name="tema"
          >
            <option
              *ngFor="let tema of listaTemas"
              [value]="tema.idTema"
            >
              {{ tema.tema }}
            </option>
          </select>
        </div>
      </form>
    </div>

    <div class="d-none d-md-block">
      <div class="row no-gutters my-4">
        <div
          *ngFor="let tema of listaTemas"
          class="col"
        >
          <button
            class="btn btn-block btn-outline-no-border"
            role="button"
            [ngClass]="{'btn-outline-no-border-dark': temaSelecionado === tema.idTema, 'btn-outline-no-border-light': temaSelecionado !== tema.idTema}"
            (click)="setTema(tema)"
          >
            <span [ngClass]="['icon-'+tema.slug, 'icon-lg-sm']"></span>
            <p class="btn-tema-text">{{ tema.tema }}</p>
          </button>
        </div>
      </div>
    </div>

    <!-- Indicadores de navegação -->
    <div class="pergunta-progress-bar mb-4">
      <div
        *ngFor="let prop of perguntasTemaSelecionado; let i = index"
        [ngClass]="{
          'pergunta-progress-item': true,
          'active': prop.proposicaoVotacoes[0]?.idVotacao === perguntaSelecionada.proposicaoVotacoes[0]?.idVotacao,
          'done': respondeuPergunta(prop.proposicaoVotacoes[0]?.idVotacao),
          'positive': respostaPositiva(),
          'negative': respostaNegativa(),
          'neutral': respostaNeutra()}"
        (click)="escolhePergunta(prop.idProposicao)"
      >
      </div>
    </div>

    <div *ngIf="perguntaSelecionada">
      <app-pergunta
        [projLei]="perguntaSelecionada.projetoLei"
        [title]="perguntaSelecionada.titulo"
        [description]="perguntaSelecionada.descricao"
        [id]="perguntaSelecionada.idProposicao"
      ></app-pergunta>
    </div>

    <div
      class="respostas-btn-group"
      *ngIf="perguntaSelecionada"
    >
      <div
        class="btn-group blocks d-flex justify-content-center my-3"
        role="group"
        aria-label="Resposta"
      >
        <button
          type="button"
          [ngClass]="{'btn btn-pergunta': true, 'btn-dark': !respostaPositiva(), 'btn-primary': respostaPositiva()}"
          (click)="setResposta(1)"
        >
          <span class="icon-check icon-hidden"></span>
          a favor
          <span [ngClass]="{
            'icon-check': true,
            'icon-hidden': true,
            'icon-show': respostaPositiva() && salvandoResposta,
            'flash animated infinite': respostaPositiva() && salvandoResposta}"></span>
        </button>
        <button
          type="button"
          [ngClass]="{'btn btn-pergunta': true, 'btn-dark': !respostaNeutra(), 'btn-info': respostaNeutra()}"
          (click)="setResposta(-2)"
        >
          <span class="icon-check icon-hidden"></span>
          não sei
          <span [ngClass]="{
            'icon-check': true,
            'icon-hidden': true,
            'icon-show': respostaNeutra() && salvandoResposta,
            'flash animated infinite': respostaNeutra() && salvandoResposta}"></span>
        </button>
        <button
          type="button"
          [ngClass]="{'btn btn-pergunta': true, 'btn-dark': !respostaNegativa(), 'btn-secondary': respostaNegativa()}"
          (click)="setResposta(-1)"
        >
          <span class="icon-check icon-hidden"></span>
          contra
          <span [ngClass]="{
            'icon-check': true,
            'icon-hidden': true,
            'icon-show': respostaNegativa() && salvandoResposta,
            'flash animated infinite': respostaNegativa() && salvandoResposta}"></span>
        </button>
      </div>
      <div class="d-none d-lg-block">
        <button
          class="btn btn-link btn-sm"
          (click)="open(content)"
        >
          <span class="icon-keyboard-o"></span>
          Exibir atalhos de teclado
        </button>
      </div>
    </div>

  </div>
</div>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">
    <h5 class="modal-title">Atalhos de teclado</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Fechar"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body filter-body">
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <td class="text-monospace">
            Seta para esquerda
          </td>
          <td>Avançar uma posição</td>
        </tr>
        <tr>
          <td class="text-monospace">
            Seta para direita
          </td>
          <td>Retornar uma posição</td>
        </tr>
        <tr>
          <td class="text-monospace">A</td>
          <td>Responder "a favor"</td>
        </tr>
        <tr>
          <td class="text-monospace">S</td>
          <td>Responder "não sei"</td>
        </tr>
        <tr>
          <td class="text-monospace">D</td>
          <td>Responder "contra"</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
