<div class="container">
  <div class="container-pergunta">
    <!-- Selecionar temas -->
    <form>
      <div class="form-group form-group-plus">
        <select
          class="form-control form-control-plus"
          id="tema"
          [(ngModel)]="temaSelecionado"
          (ngModelChange)="onTemaChange()"
          name="tema"
        >
          <option
            *ngFor="let tema of listaTemas"
            [value]="tema.id"
          >
            {{ tema.tema }}
          </option>
        </select>
      </div>
    </form>

    <!-- Indicadores de navegação -->
    <div class="pergunta-progress-bar mb-4">
      <div
        *ngFor="let prop of perguntasTemaSelecionado; let i = index"
        [ngClass]="{
          'pergunta-progress-item': true,
          'active': prop.id_votacao === perguntaSelecionada.id_votacao,
          'done': respondeuPergunta(prop.id_votacao),
          'positive': respostaPositiva(),
          'negative': respostaNegativa(),
          'neutral': respostaNeutra()}"
        (click)="escolhePergunta(prop.id_votacao)"
      >
      </div>
    </div>

    <div *ngIf="perguntaSelecionada">
      <app-pergunta
        [projLei]="perguntaSelecionada.projeto_lei"
        [title]="perguntaSelecionada.titulo"
        [description]="perguntaSelecionada.descricao"
        [id]="perguntaSelecionada.id_votacao"
      ></app-pergunta>
    </div>

    <div *ngIf="perguntaSelecionada">
      <div
        class="btn-group blocks d-flex justify-content-center my-3"
        role="group"
        aria-label="Resposta"
      >
        <button
          type="button"
          [ngClass]="{'btn btn-pergunta': true, 'btn-dark': !respostaPositiva(), 'btn-success': respostaPositiva()}"
          (click)="setResposta(1)"
        >
          <span class="icon-check icon-hidden"></span>
          a favor
          <span class="badge badge-light" [hidden]="!showShortcuts">A</span>
          <span [ngClass]="{
            'icon-check': true,
            'icon-hidden': true,
            'icon-show': respostaPositiva() && salvandoResposta,
            'flash animated infinite': respostaPositiva() && salvandoResposta}"></span>
        </button>
        <button
          type="button"
          [ngClass]="{'btn btn-pergunta': true, 'btn-dark': !respostaNeutra(), 'btn-info': respostaNeutra()}"
          (click)="setResposta(-2)"
        >
          <span class="icon-check icon-hidden"></span>
          não sei
          <span class="badge badge-light" [hidden]="!showShortcuts">S</span>
          <span [ngClass]="{
            'icon-check': true,
            'icon-hidden': true,
            'icon-show': respostaNeutra() && salvandoResposta,
            'flash animated infinite': respostaNeutra() && salvandoResposta}"></span>
        </button>
        <button
          type="button"
          [ngClass]="{'btn btn-pergunta': true, 'btn-dark': !respostaNegativa(), 'btn-secondary': respostaNegativa()}"
          (click)="setResposta(-1)"
        >
          <span class="icon-check icon-hidden"></span>
          contra
          <span class="badge badge-light" [hidden]="!showShortcuts">D</span>
          <span [ngClass]="{
            'icon-check': true,
            'icon-hidden': true,
            'icon-show': respostaNegativa() && salvandoResposta,
            'flash animated infinite': respostaNegativa() && salvandoResposta}"></span>
        </button>
      </div>
    </div>

  </div>
</div>
