.container-pergunta-controls {
  @media (min-width: 992px) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.pergunta-progress-bar {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    max-width: 330px;
  }
}

.pergunta-progress-item {
  flex: 1 1 auto;
  height: 1rem;
  margin-right: 2px;
  background-color: #ebe9e9;
  cursor: pointer;
  transition: background-color 0.5s;

  &.active {
    background-color: #20201e;

    &.positive {
      background-color: #43a467;
    }

    &.negative {
      background-color: #7f3c8b;
    }

    &.neutral {
      background-color: #adb5bd;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.icon-hidden {
  opacity: 0;
}

.icon-show {
  opacity: 1;
}

.btn-pergunta {
  @media (max-width: 400px) {
    font-size: 0.65rem;
  }
}

.respostas-btn-group {
  @media (min-width: 992px) {
    max-width: 430px;
    margin-left: auto;
  }
}

.btn-outline-no-border {
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    background-color: #ffffff;
    color: #343a40;
  }
}

.btn-outline-no-border-dark {
  border: solid 2px;
  color: #343a40;
}

.btn-outline-no-border-light {
  color: #ebe9e9;
}
