@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?pnn1u');
  src:  url('assets/fonts/icomoon.eot?pnn1u#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?pnn1u') format('truetype'),
    url('assets/fonts/icomoon.woff?pnn1u') format('woff'),
    url('assets/fonts/icomoon.svg?pnn1u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-chevron-down:before {
  content: "\e90b";
}
.icon-chevron-left:before {
  content: "\e90c";
}
.icon-chevron-right:before {
  content: "\e90d";
}
.icon-chevron-up:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e909";
}
.icon-x:before {
  content: "\e90a";
}
.icon-meio-ambiente:before {
  content: "\e900";
}
.icon-agenda-nacional:before {
  content: "\e901";
}
.icon-seguranca:before {
  content: "\e902";
}
.icon-login:before {
  content: "\e903";
}
.icon-educacao:before {
  content: "\e904";
}
.icon-quadrado:before {
  content: "\e905";
}
.icon-transversal:before {
  content: "\e906";
}
.icon-direitos-humanos:before {
  content: "\e907";
}
.icon-transparencia:before {
  content: "\e908";
}
