.person-data {
  margin-left: 1rem;
}

.person-name {
  margin: 0;
  font-weight: 700;
}

.person-name > small {
  border-left: solid 1px #a963b3;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.person-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.score-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.score-progress > .progress {
  width: 70%;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .score-progress > .progress {
    width: 80%;
  }
}

.score-number {
  width: 30%;
  text-align: right;
  font-weight: 700;
  font-size: 1.7rem;
  color: #a963b3;
}

@media (min-width: 768px) {
  .score-number {
    width: 20%;
  }
}

.person-link {
  color: #41c083;
  font-weight: 700;
  text-transform: lowercase;
}

.candidatos {
  max-width: 415px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .candidatos {
    min-height: 600px;
  }
}

.btn-pag {
  padding: 0 0.5rem;
}

.progress-none {
  background-color: #ffffff;
}

.tutorial-img {
  margin-bottom: -10px;
}
.tutorial-img > img {
  width: 80px;
}
.tutorial-text {
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  .tutorial-img {
    margin-bottom: -12px;
  }
  .tutorial-img > img {
    width: 80px;
  }
  .tutorial-text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .tutorial-img > img {
    width: 100px;
  }
}