<div class="container sobre-container">
  <section class="mt-3 mb-5">
    <h3 class="intro-title text-center">Sobre</h3>
  </section>
  <section class="section">
    <div class="row">
      <div class="col-lg-6 pb-4">
        <h4 class="footer-title">Perfil Parlamentar</h4>
        <p>
          A plataforma coleta e analisa uma série de dados da
          <strong class="strong">Câmara dos Deputados</strong>
          e
          <strong class="strong">Senado Federal</strong>
          com a finalidade de entender os vínculos políticos dos parlamentares dentro e fora do Parlamento, além dos seus posicionamentos em todas a votações.
        </p>
      </div>
      <div class="col-lg-6 pb-4">
        <h4 class="footer-title">Quem somos?</h4>
        <p>
          O Perfil Parlamentar é fruto de uma parceria entre a <a href="https://br.okfn.org/" target="_blank">Open Knowledge Brasil</a>, a <a href="http://dadocapital.org.br/" target="_blank">Dado Capital</a> e o <a href="http://analytics.ufcg.edu.br/" target="_blank">Laboratório Analytics</a>, da Universidade Federal de Campina Grande. A plataforma tem como objetivo disponibilizar dados, informações e análises para que a sociedade civil possa se engajar e influenciar o trabalho do Parlamento brasileiro nos diversos temas do seu interesse.
        </p>
      </div>
    </div>
  </section>
  <!-- <section class="section">
    <h4 class="footer-title">Como funciona?</h4>
    <div class="row">
      <div class="col-md-4 pb-4">
        <p>
          <span class="bolinha">1</span>
          Recuperamos as principais votações nominais dos atuais Deputados Federais
        </p>
      </div>
      <div class="col-md-4 pb-4">
        <p>
          <span class="bolinha">2</span>
          Comparamos essas votações com a orientação do Governo, contando quantas vezes o deputado seguiu ou não seguiu o Governo
        </p>
      </div>
      <div class="col-md-4 pb-4">
        <p>
          <span class="bolinha">3</span>
          Criamos um perfil detalhado do deputado para analisar sua atuação na Câmara em votações importantes
        </p>
      </div>
    </div>
  </section> -->
  <section class="section mb-5">
    <h4 class="footer-title">Como ajudar neste projeto?</h4>
    <p>
      Nosso
      <a
        class="strong2"
        href="https://github.com/analytics-ufcg/voz-ativa"
      >
        código
      </a>
      é aberto! ❤
    </p>
  </section>
</div>
<div class="section-inverse mb-4">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h4 class="footer-title float-title">Porque somos importantes?</h4>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <p class="featured-box">
          O Parlamento brasileiro produz uma série de decisões com  impacto na vida da sociedade. Muitas dessas decisões podem ser rastreáveis a partir da coleta e análise de dados.
        </p>
      </div>
      <div class="col-md-4">
        <p class="featured-box">
          Esse trabalho, no entanto, exige algum conhecimento técnico, nem sempre disponível para o cidadão ou para parte da sociedade civil organizada.
        </p>
      </div>
      <div class="col-md-4">
        <p class="featured-box">
          O Perfil Parlamentar, portanto, procura atender a essa demanda: utilizar a inteligência de dados para a ação cidadã, nos temas e assuntos que interessam à sociedade acompanhar e influenciar a atuação do Legislativo.
        </p>
      </div>
    </div>
  </div>
</div>
<section class="section mb-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h4 class="footer-title">Realização</h4>
        <div class="d-flex align-items-center mt-2">
          <div class="col">
            <img
              src="assets/imgs//logo_dadocapital.jpg"
              alt="Dado Capital"
              width="100%"
              class="img-logo"
            >
          </div>
          <div class="col">
            <img
              src="assets/imgs/logo_ufcg.jpg"
              alt="UFCG"
              width="100%"
              class="img-logo"
            >
          </div>
          <div class="col">
            <img
              src="assets/imgs/okbr-logo.png"
              alt="Open Knowledge brasil"
              width="100%"
              class="img-logo"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
