<div class="container">
  <section class="mt-3 mb-5">
    <h2 class="intro-title text-center">
      Voz ativa quer te ajudar a acompanhar o posicionamento da
      <strong class="strong">Câmara dos Deputados</strong>
      a partir
        de temas de fundamental importância para o Brasil.
    </h2>
  </section>
  <section class="section">
    <div class="row">
      <div class="col-md-6">
        <h4 class="footer-title">Quem somos?</h4>
        <p>
          A Voz Ativa é desenvolvida pela
          <strong class="strong">Rede Advocacy</strong>
          , um coletivo
            de
          <strong class="strong">30</strong>
          Organizações da
            Sociedade Civil que atuam nos temas de direitos humanos,
            integridade e transparência, meio-ambiente/clima e negócios de
            impacto para uma nova economia.
        </p>
      </div>
      <div class="col-md-6">
        <h4 class="footer-title">O que é uma Rede Advocacy?</h4>
        <p>
          Somos uma rede de 30 organizações da sociedade civil que atuam
            de forma colaborativa para inovar a participação da sociedade
            no processo de elaboração de políticas públicas no Brasil.
        </p>
      </div>
    </div>
  </section>
  <section class="section">
    <h4 class="footer-title">Como funciona?</h4>
    <div class="row">
      <div class="col-md-3 howtoStep01Text01">
        <p class="strong2">
          <span class="d-block-inline d-md-none bolinha">1</span>
          Coletamos as
            posições dos/as deputados/as em votações importantes
        </p>
      </div>
      <div class="col-md-4 howtoStep01">
        <img
          src="assets/imgs/howto01.jpg"
          width="100%"
          alt="Voz ativa"
        >
      </div>
      <div class="col-md-4 howtoStep01Text02">
        <p class="strong2">
          <span class="d-block-inline d-md-none bolinha">2</span>
          Você nos conta
            como teria votado
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 howtoStep02Text01">
        <p class="strong2">
          <span class="d-block-inline d-md-none bolinha">3</span>
          Comparamos seu
            posicionamento com os dos parlamentares
        </p>
      </div>
      <div class="col-md-3 howtoStep02">
        <img
          src="assets/imgs/howto02.jpg"
          width="90%"
          alt="Voz ativa"
          class="img-step-02"
        >
      </div>
      <div class="col-md-4 howtoStep02Text02">
        <p class="strong2">
          <span class="d-block-inline d-md-none bolinha">4</span>
          Mostramos quais deputados/as mais se alinham com você
        </p>
      </div>
    </div>
  </section>
  <section class="section mb-5">
    <h4 class="footer-title">Como ajudar neste projeto?</h4>
    <p>
      Nosso
      <a class="strong2" href="https://github.com/analytics-ufcg/voz-ativa">código</a>
      é aberto! ❤
    </p>
  </section>
</div>
<div class="section-inverse mb-4">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h4 class="footer-title float-title">Porque somos importantes?</h4>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <p class="featured-box">
          As redes sociais estão inundadas de fake news.
        </p>
      </div>
      <div class="col-md-4">
        <p class="featured-box">
          São 513 deputados/as para se acompanhar.
        </p>
      </div>
      <div class="col-md-4">
        <p class="featured-box">
          É dificil acompanhar as votações importantes na Câmara
        </p>
      </div>
    </div>
  </div>
</div>
<section class="mb-4">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h4 class="footer-title">Parceiros</h4>
    </div>

    <div class="row">
      <div class="col-md-4">
        <ul class="ul">
          <li>Cidade Escola Aprendiz</li>
          <li>ClimaInfo</li>
          <li>Conectas</li>
          <li>Engajamundo</li>
          <li>Fundación Avina</li>
          <li>GIFE</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="ul">
          <li>ICE</li>
          <li>Idesam</li>
          <li>Impact Hub</li>
          <li>Inesc</li>
          <li>InPacto</li>
          <li>Instituto Clima e Sociedade</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="ul">
          <li>Instituto Ethos</li>
          <li>Instituto Terroá</li>
          <li>Observatório do Clima</li>
          <li>Sistema B</li>
          <li>Transparência Internacional</li>
          <li>Update Politics</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section mb-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h4 class="footer-title">Realização</h4>
        <div class="d-flex align-items-center mt-2">
            <div class="col">
              <img
                src="assets/imgs//logo_dadocapital.jpg"
                alt="Dado Capital"
                width="100%"
                class="img-logo"
              />
            </div>
            <div class="col">
              <img
                src="assets/imgs/logo_ufcg.jpg"
                alt="UFCG"
                width="100%"
                class="img-logo"
              />
            </div>
          </div>        
      </div>
    </div>
  </div>
</section>
