.sobre-container {
  padding-top: 15px;
}
.img-step-02 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.howtoStep01 {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
}

.howtoStep02 {
    height: 150px;
}

@media (max-width: 767px) {
    .howtoStep02Text02 {
        margin-top: 150px;
    }
}

@media (min-width: 768px) {
    .howtoStep01Text01 {
        height: 215px;
        text-align: right;
        padding-top: 50px;
    }
    .howtoStep01Text02 {
        padding-top: 100px;
    }

    .howtoStep02Text01 {
        height: 215px;
        text-align: right;
        padding-top: 25px;
    }

    .howtoStep02Text02 {
        height: 215px;
        display: block;
        align-items: center;
        padding-top: 50px;
    }
}

.bolinha {
    display: inline-block;
    background-color: #a865b2;
    color: #fff;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    text-align: center;
}

h2 {
    font-size: 1.9rem;
}

.footer-title {
    display: inline-block;
    padding: 0.5rem;
    background-color: #43A467;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
}

.strong2 {
    color: #a865b2;
}

.intro-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    max-width: 720px;
}

.intro-title > strong {
    color: #43A467;
}

.section-inverse {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #7f3c8b;
    color: #ffffff;
}

.featured-box {
    border-left: solid 8px #43A467;
    padding-left: 1rem;
    padding-right: 1rem;
}

.float-title {
    margin-top: -45px;
    margin-bottom: 30px;
}

.img-logo {
    max-width: 150px;
}
