.container {
  border: solid 2px #20201e;
  margin-bottom: 16px;
  max-width: 900px;
  padding: 0;
}

.icon-ajuda {
  margin-left: 4px;

  &:before {
    height: 0.5rem;
  }

  &:hover {
    cursor: default;
  }
}

.hint {
  visibility: hidden;
  margin-left: -60px;
  margin-top: -100px;
  max-width: 100px;
  position: absolute;
  text-align: left;
  font-weight: normal;
  font-size: 0.85rem;
  color: #212529;
  background-color: white;
  padding: 5px;
  border: 2px solid #b7b7b7;
  border-radius: 2px;
  z-index: 1000;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);

  > a {
    margin-top: 4px;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #b7b7b7 transparent transparent transparent;
  }

  &:hover {
    visibility: visible;
  }
}

.icon-ajuda:hover~.hint {
  visibility: visible;
}

.expense-date {
  display: inline-block;
  background-color: #20201e;
  color: white;
  margin-top: -1px;
  margin-left: -1px;
  padding: 4px 8px;
}

.expense-total-value {
  padding: 0 16px;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 8px 0;
}

.expense-description,
.supplier-description,
.state-description {
  padding: 0 16px;
  font-weight: normal;
  margin: 0;

  > span {
    color: #666666;
  }
}

.jarbas-dashboard {
  margin-left: -1px;
  margin-bottom: 8px;
  margin-top: 8px;

  > a {
    padding: 4px 16px;
    background-color: #20201e;
    color: white;
  }
}

.rosie-suspicion {
  display: block;
  margin-left: -1px;
  margin-bottom: 8px;

  >.ribbon{
    padding: 4px 16px;
    margin-right: 7px;
    position: relative;
    background-color: #990000ff;
    color: white;

    &:after {
      content: " ";
      position: absolute;
      height: 0;
      width: 0;
      bottom:0.1px;
      border-top: 13.5px solid transparent;
      border-bottom: 13.5px solid transparent;
      border-left: 8px solid #990000ff;
      right: -8px;
    }
  }
}
