.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
}

p a + a {
  padding-left: 3em;
}

.perguntas-container {
  height: 75vh;
  overflow-y: scroll;
}

.pergunta {
  margin: 5px;
}
