/*
roxo base:    #a963b3
roxo escuro:  #5b2762
roxo claro:   #ddc1e1
verde:        #41c083
*/
@import url("https://unpkg.com/normalize.css@7.0.0/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700");

@import "styles/icons.css";
@import "styles/overhide.css";
@import "styles/nav.css";
/*
@import 'layout.css';
@import 'navbar.css';
@import 'nav.css';
@import 'accordion.css';

@import 'type.css';
@import 'question.css';
@import 'person.css';*/

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  background-color: #ffffff;
  color: #5b2762;
}
a {
  color: #000;
}
a:hover {
  color: #a963b3;
}
footer {
  padding-top: 2rem;
  padding-bottom: 20rem;
  border-top: solid 5px #a963b3;
}

.footer-title {
  display: inline-block;
  padding: 0.5rem;
  background-color: #41c083;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}

.footer-logo {
  margin-bottom: 2rem;
}

.strong,
.icon-secondary {
  color: #41c083;
}

.form-control-secondary {
  color: #fff;
  background-color: #41c083;
  border: 1px solid #41c083;
  border-radius: 24px;
}
.form-control-secondary:focus {
  color: #ffffff;
  background-color: #41c083;
  border-color: #41c083;
  outline: 0;
  box-shadow: none;
}
.input-group-text-secondary {
  background-color: #41c083;
  border: 1px solid #41c083;
}
.btn-square {
  border-radius: 0;
}
.table-row-center {
  vertical-align: middle;
}

.bg-light {
  background-color: #ffffff;
}

/*
.custom-scroll-bar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  margin: 1px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #a963b3;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #a963b3;
}
*/
