@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/bootstrap/overhide";
@import "assets/styles/icons";
@import "assets/styles/animations";

$top-navbar-height: 50px;
$top-navbar-lg-height: 71px;
$sticky-footer-navbar-height: 50px;

body {
  padding-top: $top-navbar-height;

  @media (min-width: 992px) {
    padding-top: $top-navbar-lg-height;
  }
}

.container-sm {
  @media (min-width: 992px) {
    width: 760px;
    margin: auto;
  }
}

.container-sticky-footer-navbar {
  margin-top: $sticky-footer-navbar-height;

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

.icon-md {
  font-size: 1.5rem;
}

.icon-lg {
  font-size: 4rem;
}

.icon-lg-sm {
  font-size: 2rem;
}

.icon-left {
  float: left;
}

.btn-tema-text {
  text-transform: uppercase;
  font-size: 0.65rem;
  margin: 0;
  padding: 0;
}

.text-strong {
  color: $green;
}

.gutters-sm {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.btn-icon {
  text-decoration: none;
  padding: 0;
  margin-top: -8px;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 0;

  &:hover {
    text-decoration: none;
  }
}

.btn-icon-sm,
.btn-link-simple {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.btn-tema {
  @media (max-width: 991.98px) {
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

.btn-no-gutters {
  padding: 0;
}

.title-main {
  text-align: center;

  @media (min-width: 992px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.text-link:hover {
  color: $green;
}

.img-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.alinhamento-5 {
  background-color: #247fb5;
}

.alinhamento-4 {
  background-color: #6b92a5;
}

.alinhamento-4-font {
  color: #6b92a5;
}

.alinhamento-3 {
  background-color: #c6ac8d;
}

.alinhamento-2 {
  background-color: #c17a66;
}

.alinhamento-1 {
  background-color: #b54142;
}

.alinhamento-indefinido {
  background-color: #eceff4;
}

.positivo {
  background-color: #91bfda;
}

.negativo {
  background-color: #b54142;
}

.neutro {
  background-color: #cccccc;
}

.ausente {
  background-color: #ffffff;
}

.voto {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  border: solid 2px;
  border-color: #ffffff;
}

.voto-lg {
  border: solid 2px;
  border-color: #ffffff;
}

.voto-sim {
  background-color: #43a467;
  border-color: #43a467;
  color: white;
}

.voto-nao {
  background-color: #7f3c8b;
  border-color: #7f3c8b;
  color: white;
}

.voto-liberou {
  background-color: #cccccc;
  border-color: #adb5bd;
  color: black;
}

.voto-faltou {
  background-color: #ffffff;
  border-color: #adb5bd;
  color: black;
}

.voto-obstrucao {
  background-color: #20201e;
  border-color: #20201e;
  color: white;
}

.badge-white {
  background-color: $white;
  color: $black;
  border: 1px solid #363638;
}

.badge-gray {
  background-color: #b3b4b6;
  border: 1px solid #363638;
}

.badge-dark-gray {
  background-color: #545356;
  border: 1px solid #363638;
}

.profile-img {
  width: 75px;
  @media (min-width: 576px) {
    width: 100px;
  }
  @media (min-width: 768px) {
    width: 125px;
  }
}

.popover-lg {
  max-width: 100%;

  @media (min-width: 576px) {
    max-width: 325px;
  }
}
