@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/bootstrap/overhide";
@import "assets/styles/icons";

$sticky-footer-navbar-height: 45px;

body {
  padding-top: $display3-size;
}

.container-sticky-footer-navbar {
  margin-bottom: $sticky-footer-navbar-height;
}

.icon-md {
  font-size: 1.5rem;
}

.icon-lg {
  font-size: 4rem;
}

.icon-left {
  float: left;
}

.text-strong {
  color: $green;
}

.gutters-sm {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}
