.parlamentar {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.parlamentar-title {
  font-weight: 700;
}

.nav-link-parlamentar {
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem;

  &:link {
    text-decoration: none;
  }
}

.parlementar-subnav {
  @media (max-width: 400px) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    > .nav {
      flex: 0 0 auto;
    }
  }
}
