<app-sticky-footer-navbar></app-sticky-footer-navbar>
<div
  class="container pt-3 container-sticky-footer-navbar"
  *ngIf="parlamentar"
>
  <div class="parlamentar">
    <div class="row gutters-sm">
      <div class="col-4 col-sm-5">
        <img
          [defaultImage]="'https://via.placeholder.com/100x130'"
          [lazyLoad]="parlamentar.getFoto()"
          [offset]="100"
          width="100%"
        >
      </div>
      <div class="col">
        <div class="parlamentar-title">{{ parlamentar.nomeEleitoral }}</div>
        <p>
          {{ parlamentar.partido }}/{{ parlamentar.uf }}
        </p>
        <div class="parlamentar-comissoes" *ngFor="let comissao of comissoes">
          <span class="badge badge-dark badge-comissoes">
            {{ comissao.cargo }}
          </span>
           na {{ comissao.info_comissao.nome }}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="form-group form-group-plus">
      <select
        class="form-control form-control-plus"
        id="tema"
        [(ngModel)]="temaSelecionado"
        (ngModelChange)="filtraProposicoesPorTema($event)"
        name="tema"
      >
        <option
          *ngFor="let tema of temas"
          [value]="tema.id"
        >
          {{ tema.tema }}
        </option>
      </select>
    </div>
  </div>
  <div class="parlamentar-lista">
    <app-posicao
      *ngFor="let proposicao of proposicoesFiltradas"
      [parlamentar]="parlamentar"
      [proposicao]="proposicao"
      [resposta]="respostas.votacoes[proposicao.id_votacao]"
      [votacao]="parlamentar.votacoes[proposicao.id_votacao]"
    ></app-posicao>
  </div>
</div>
