<app-sticky-footer-navbar></app-sticky-footer-navbar>
<div
  class="container pt-3 container-sticky-footer-navbar"
  *ngIf="parlamentar"
>
  <div class="parlamentar">
    <div class="row gutters-sm">
      <div class="col-4 col-sm-5">
        <img
          [defaultImage]="'https://via.placeholder.com/100x130'"
          [lazyLoad]="parlamentar.getFoto()"
          [offset]="100"
          width="100%"
        >
      </div>
      <div class="col">
        <div class="parlamentar-title">{{ parlamentar.nomeEleitoral }}</div>
        <p>
          {{ parlamentar.partido }}/{{ parlamentar.uf }}
        </p>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./posicoes']"
        [routerLinkActive]="'active'"
      >
        Posições
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./cargos']"
        [routerLinkActive]="'active'"
      >
        Cargos
      </a>
    </li>
  </ul>

  <router-outlet></router-outlet>

</div>
