.intro {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.intro-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  max-width: 720px;
}

.share-box{
  width: 50px;
  height: 120px;
  display: block;
  float:right;
  list-style-type: none;
  padding: 0px 2px;
  margin: 0;
  z-index: 9999;
}

.share-element{
  padding: 5px 0px;
  
}
.grid-wrapper {
  min-height: 60vh;
}
.grid-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: auto;
  max-width: 1140px;
}

.panel-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.panel-body {
  padding: 1rem;
  overflow-y: auto;
}

.panel-master {
  width: 100%;
}

.panel-master-header {
  border-bottom: solid 5px #41c083;
}

.panel-detail {
  z-index: 9;
}

@media (min-width: 992px) {
  .panel-master {
    width: 48%;
  }
  .grid-separator {
    width: 4%;
    background: #fff;
    background: linear-gradient(180deg, #a963b3, #a963b3);
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: 2px auto;
  }
  .panel-detail {
    width: 48%;
  }
}

@media (max-width: 991.98px) {
  .panel-master {
    /*height: 150vh;*/
  }

  .panel-detail {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.panel-title {
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #5b2762;
}
