.compare-title {
  margin: 2rem auto 2rem auto;
  max-width: 510px;
  font-weight: 700;
}

.compare-person-profile {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: solid 2px #5b2762;
}

.compare-person-data {
  margin-left: 0.5rem;
}

.compare-person-name {
  font-size: 1rem;
  font-weight: 700;
}
.compare-person-detail {
  margin-bottom: 0.5rem;
}
.btn-link {
  padding-top: 0.5rem;
  padding-left: 0;
}
.score-theme {
  font-weight: 700;
  font-size: 2.5rem;
  color: #a963b3;
}
@media (min-width: 768px) {
  .score-theme {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
}
@media (min-width: 992px) {
  .score-theme {
    font-size: 1.7rem;
  }
}

.score-pie-chart {
  padding: 1rem;
}

@media (min-width: 576px) {
  .score-pie-chart {
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  .score-pie-chart {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .score-pie-chart {
    padding: 1rem;
  }
}

.share-compare {
  float: right;
}