.legend-info {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-right: 0.5rem;
  background-color: #20201e;
  border: solid 1px #20201e;
}

.legend-title {
  font-size: 0.8rem;
  line-height: 23px;
  margin-right: 1rem;
}

.bg-alinhamento-alto {
  background-color: #247FB5;
}

.bg-alinhamento-baixo {
  background-color: #b54142;
}

.bg-alinhamento-medio {
  background-color: #c6ac8d;
}

.bg-sem-alinhamento {
  background-color: #eceff4;
}