.legend-info {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-right: 0.5rem;
  border: solid 1px #20201e;
}

.legend-title {
  font-size: 0.8rem;
  line-height: 23px;
  margin-right: 1rem;
  word-wrap: break-word;
}

.legend-rounded {
  border-radius: 50%;
  border: solid 1px #adb5bd;
}
