.progress-stacked-bar {
  padding-right: 0.25rem;
  text-align: right;
  color: #20201e;
  border-right: solid 1px #20201e;
}

.progress-stacked-title {
  font-size: 0.8rem;
}

.progress-light {
  color: #20201e;
  border-top: solid 1px #20201e;
  border-right: solid 1px #20201e;
  border-bottom: solid 1px #20201e;
}

.with-border {
  border-left: solid 1px #20201e;
}

.progress-bordered {
  border-left: solid 1px #20201e;
  border-bottom: solid 1px #20201e;
  border-top: solid 1px #20201e;
}
