<div class="progress-stacked-title">{{ titulo }}</div>
<div class="progress progress-stacked">
  <div
    *ngFor="let categoria of categorias"
    role="progressbar"
    [ngStyle]="{'width': getValor(categoria.valor)+'%'}"
    [ngClass]="getClass(categoria.classe)"
    [attr.aria-valuenow]="getValor(categoria.valor)"
    [attr.aria-valuemin]="min"
    [attr.aria-valuemax]="max"
    [hidden]="!categoria.valor"
  >
  </div>
</div>
<div class="progress progress-stacked mb-1">
  <div
    *ngFor="let categoria of categorias"
    class="progress-bar progress-stacked-bar bg-light"
    role="progressbar"
    [ngStyle]="{'width': getValor(categoria.valor)+'%'}"
    [attr.aria-valuenow]="getValor(categoria.valor)"
    [attr.aria-valuemin]="min"
    [attr.aria-valuemax]="max"
    [hidden]="!categoria.valor"
  >
    {{ categoria.valor }}
  </div>
</div>
