.nav-link {
  text-transform: lowercase;
}

.navbar-wrapper {
  width: 100%;
}

@media (min-width: 992px) {
  .navbar-wrapper {
    width: auto;
  }
}

.share-icon {
  font-size: 1.7rem;
}

.dropdown-usermenu {
  right: 0;
  left: auto;
}

.navbar-light {
  background-color: #ffffff;
}