.nav-link {
  text-transform: lowercase;
}

.navbar-wrapper {
  width: 100%;
}

@media (min-width: 992px) {
  .navbar-wrapper {
    width: auto;
  }
}

.share-icon {
  font-size: 1.7rem;
}
.login-facebook{
  background-color: #ffffff; 
  border: none;
  color: #41c083;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
}
.login-google{
  background-color: #ffffff; 
  border: none;
  color: #41c083;
  padding: 4px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.login-twitter{
  background-color: #ffffff; 
  border: none;
  color: #41c083;
  padding: 4px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}