.nav-link {
  text-transform: lowercase;
}

.navbar-wrapper {
  width: 100%;
}

@media (min-width: 992px) {
  .navbar-wrapper {
    width: auto;
  }
}
.modal-body{
  text-align: center;
}

.login-icon {
  padding: 0px 4px 0px 0px;
  font-size: 1.7rem;
  color: #a963b3;
}

.login-text{
  background-color: #ffffff; 
  color: #41c083;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: none;
  
}

.share-icon {
  font-size: 1.7rem;
}

