svg {
  width: 100%;
}

.cls-1{fill:#a45fa5;}.cls-2{fill:#84cbaa;}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-10 {
  animation-delay: 1s;
}
