<svg
  id="step01"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 800 800"
>
  <g id="person">
    <polygon
      class="cls-1"
      points="336.55 408.21 313.65 475.76 272.1 598.21 260.78 631.62 219.48 631.62 208.16 598.21 180.24 515.92 143.71 408.21 180.24 408.21 240.16 584.88 300.08 408.21 336.55 408.21"
    ></polygon>
    <polygon
      class="cls-2"
      points="300.08 408.21 240.16 584.88 180.24 408.21 300.08 408.21"
    ></polygon>
    <circle
      class="cls-1"
      cx="240.16"
      cy="310.02"
      r="79.02"
    ></circle>
    <circle
      class="cls-2"
      cx="240.16"
      cy="310.02"
      r="49.24"
    ></circle>
  </g>
  <rect
    id="rect01"
    class="cls-1 animated slow delay-2 fadeAndBounceIn"
    x="444"
    y="253"
    width="34"
    height="34"
  ></rect>
  <rect
    id="rect02"
    class="cls-2 animated slow delay-4 fadeAndBounceIn"
    x="520"
    y="303"
    width="34"
    height="34"
  ></rect>
  <rect
    id="rect03"
    class="cls-2 animated slow delay-6 fadeAndBounceIn"
    x="503"
    y="204"
    width="34"
    height="34"
  ></rect>
  <rect
    id="rect04"
    class="cls-1 animated slow delay-8 fadeAndBounceIn"
    x="573"
    y="187"
    width="34"
    height="34"
  ></rect>
  <rect
    id="rect05"
    class="cls-1 animated slow delay-10 fadeAndBounceIn"
    x="461"
    y="122"
    width="34"
    height="34"
  ></rect>
</svg>
