<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6 mx-2">
      <p>
        Ao entrar no Voz Ativa, suas respostas ficarão salvas para que você possa continuar de onde parou.
      </p>
      <p>
        Não guardaremos nenhuma informação sensível, apenas dados públicos (nome, e-mail e foto).
      </p>      
      <div *ngIf="!isLoggedIn" class="mt-5">
        <button type="button" class="btn btn-primary btn-block" (click)="loginUserGoogle()">
          Entre com sua conta Google
        </button>
        <br />
        <button type="button" class="btn btn-primary btn-block" (click)="loginUserFacebook()">
          Entre com sua conta Facebook
        </button>
      </div>
      <div *ngIf="isLoggedIn" class="mt-5">
        <button type="button" class="btn btn-primary btn-block" (click)="logoutUser()">
          Sair
        </button>
      </div>
    </div>
  </div>
</div>