<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-2">
      <div *ngIf="!isLoggedIn">
        <button type="button" class="btn btn-primary btn-block" (click)="loginUserFacebook()">
          <span class="icon-facebook icon-md"></span>
          Login com Facebook
        </button>
        <br/>
        <button type="button" class="btn btn-primary btn-block" (click)="loginUserGoogle()">
          <span class="icon-google icon-md"></span>
          Login com Google
        </button>
      </div>
      <div *ngIf="isLoggedIn" class="mt-5">
        <button type="button" class="btn btn-primary btn-block" (click)="logoutUser()">
          Sair
        </button>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-2">
      <span class="icon-login icon-lg icon"></span>
      <div class="text-login-container">
        <span class="text-strong">Próximo login</span>
        <br/>
        <span>Ao entrar no Voz Ativa, suas respostas ficarão salvas para que você possa continuar de onde parou.</span></div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-2">
      <span class="icon-seguranca icon-lg icon"></span>
      <div class="text-login-container">
        <span class="text-strong">Privacidade</span>
        <br/>
        <span>Não guardaremos nenhuma informação sensível, apenas dados públicos como nome, e-mail e foto de perfil.</span></div>
    </div>
  </div>
</div>