.icon-md {
  font-size: 1.5rem;
  float: left;
}

.icon {
  float: left;
}

.text-login-container {
  overflow: auto;
  padding: 0 0 15px 15px;
  font-size: 0.9rem;  
}

.text-strong {
  font-weight: 800;
  color: #43A467;
}