<div class="row gutters-sm mt-3">
  <div class="col-9 col-sm-10">
    <div class="form-group">
      <input
        type="text"
        class="form-control pesquisa"
        id="searchParlamentar"
        [(ngModel)]="nomePesquisado"
        (ngModelChange)="aplicarFiltro()"
        placeholder="pesquisar..."
      >
    </div>
  </div>
  <div class="col-3 col-sm-2">
    <button
      class="btn btn-primary btn-block"
      (click)="open(content)"
    >
      Filtros
    </button>
  </div>
  <div class="col-12">
    <div
      class="btn-group mr-1"
      role="group"
      aria-label="Filtro de Estado"
      [hidden]="filtro.estado == FILTRO_PADRAO_ESTADO"
    >
      <button
        type="button"
        class="btn btn-primary btn-sm"
      >
        {{filtro.estado}}
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="limparFiltroEstado()"
      >
        <span class="icon-x"></span>
      </button>
    </div>

    <div
      class="btn-group"
      role="group"
      aria-label="Filtro de Estado"
      [hidden]="filtro.partido == FILTRO_PADRAO_PARTIDO"
    >
      <button
        type="button"
        class="btn btn-primary btn-sm"
      >
        {{filtro.partido}}
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="limparFiltroPartido()"
      >
        <span class="icon-x"></span>
      </button>
    </div>
  </div>
</div>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">
    <h5 class="modal-title">Filtrar</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Fechar"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body filter-body">
    <div>
      <div class="form-group">
        <select
          class="form-control"
          id="estado"
          [(ngModel)]="estadoSelecionado"
          (ngModelChange)="onChangeEstado()"
          name="estado"
        >
          <option
            *ngFor="let estado of estados"
            [value]="estado"
          >
            {{estado}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          id="partido"
          [(ngModel)]="partidoSelecionado"
          name="partido"
        >
          <option
            *ngFor="let partido of partidosFiltradosPorEstado"
            [value]="partido"
          >
            {{partido}}
          </option>
        </select>
      </div>

      <div>
        <p>TEMAS</p>        
        <div class="temas-container">
          <div
            *ngFor="let tema of temas"
            class="mr-3"
          >
            <button
              class="btn btn-outline-dark btn-block btn-tema"
              role="button"
              [ngClass]="{'active': isTemaSelected(tema.id), 'aria-pressed': isTemaSelected(tema.id)}"
              (click)="selecionaTema(tema.id)"
            >
              <span [ngClass]="['icon-'+tema.slug, 'icon-lg']"></span>
              <p class="btn-tema-text">{{ tema.tema }}</p>
            </button>
          </div>
        </div>

      </div>

    </div>
    <div class="text-right">

      <button
        class="btn btn-outline-primary mr-3"
        (click)="limparFiltro()"
      >
        LIMPAR
      </button>

      <button
        class="btn btn-primary"
        (click)="aplicarFiltro()"
      >
        APLICAR
      </button>

    </div>

  </div>
</ng-template>
