.filter-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.temas-container {
  display: flex;
  overflow-x: auto;
}

.btn-tema-sm {
  min-height: 86px;
  width: 118px;
}

.btn-tema-text {
  text-transform: uppercase;
  font-size: 0.65rem;
  margin: 0;
  padding: 0;
}
