<div class="row gutters-sm my-3">
  <div class="col-3 col-sm-2">
    <button
      class="btn btn-primary btn-block"
      (click)="open(content)"
    >
      Filtros
    </button>
  </div>
  <div class="col-9 col-sm-10">
    <div class="form-group">
      <input
        type="text"
        class="form-control pesquisa"
        id="searchParlamentar"
        [(ngModel)]="nomePesquisado"
        (ngModelChange)="aplicarFiltro()"
        placeholder="pesquisar..."
      >
    </div>
  </div>
</div>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">FILTRAR</div>
  <div class="modal-body">
    <select
      class="form-control"
      id="estado"
      [(ngModel)]="estadoSelecionado"
      (ngModelChange)="onChangeEstado()"
      name="estado"
    >
      <option
        *ngFor="let estado of estados"
        [value]="estado"
      >
        {{estado}}
      </option>
    </select>

    <select
      class="form-control mt-2"
      id="partido"
      [(ngModel)]="partidoSelecionado"
      name="partido"
    >
      <option
        *ngFor="let partido of partidosFiltradosPorEstado"
        [value]="partido"
      >
        {{partido}}
      </option>
    </select>

    <div class="mt-4">
      <button
        class="btn btn-outline-primary mr-3"
        (click)="limparFiltro()"
      >
        LIMPAR
      </button>

      <button
        class="btn btn-primary"
        (click)="aplicarFiltro()"
      >
        APLICAR
      </button>
    </div>

  </div>
</ng-template>
