.grid-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.grid-panel { }

.panel-header {
  padding: 1rem;
}

.panel-body {
  padding: 1rem;
  max-height: calc(100vh - 323px);
  overflow-y: auto;
}

.panel-detail-in {
  background-color: #ffffff;
  color: #000;
}

.panel-master {
  width: 100%;
  padding: 1rem;
}

.panel-detail {
}

@media (min-width: 992px) {
  .panel-master {
    width: 50vw;
  }

  .panel-detail {
    width: 50vw;
    padding: 1rem;
  }
}

@media (max-width: 991.98px) {
  .panel-master {
    height: 100vh;
  }

  .panel-detail {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
