a {
    color: #000;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #5b2762;
  background: transparent;
  border-bottom: solid 6px #5b2762;
}
.card-header {
  padding: 0;
  background-color: #ffffff;
  border: none;
  border-bottom: solid 2px #a963b3;
}
.card-body {
  padding: 0;
}
