.intro {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.grid-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: auto;
  max-width: 1140px;
}

.panel-header {
  padding: 1rem;
}

.panel-body {
  padding: 1rem;
  max-height: calc(100vh - 323px);
  overflow-y: auto;
}

.panel-master {
  width: 100%;
  border-top: solid 5px #41c083;
}

.panel-detail {
  z-index: 9;
  border-top: solid 5px #5b2762;
}

@media (min-width: 992px) {
  .panel-master {
    width: 48%;
  }
  .grid-separator {
    width: 4%;
    background: #fff;
    background: linear-gradient(180deg, #a963b3, #a963b3);
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: 2px auto;
  }
  .panel-detail {
    width: 48%;
  }
}

@media (max-width: 991.98px) {
  .panel-master {
    /*height: 150vh;*/
  }

  .panel-detail {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.panel-title {
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #5b2762;
}
