/*
roxo base:    #a963b3
roxo escuro:  #5b2762
roxo claro:   #ddc1e1
verde:        #41c083
*/
@import url('https://unpkg.com/normalize.css@7.0.0/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import 'icons.css';
@import 'overhide.css';
@import 'layout.css';
@import 'navbar.css';
@import 'nav.css';
@import 'accordion.css';

@import 'type.css';
@import 'question.css';
@import 'person.css';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: #ffffff;
  color: #5b2762;
}
a {
    color: #000;
}
a:hover {
    color: #a963b3;
}
footer {
  padding-top: 2rem;
  padding-bottom: 20rem;
  border-top: solid 5px #a963b3;
}

.footer-title {
  display: inline-block;
  padding: 0.5rem;
  background-color: #41c083;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}

.footer-logo {
  margin-bottom: 2rem;
}

.icon-secondary {
  color: #41c083;
}

.form-control-secondary {
  color: #fff;
  background-color: #41c083;
  border: 1px solid #41c083;
  border-radius: 24px;
}
.form-control-secondary:focus {
  color: #ffffff;
  background-color: #41c083;
  border-color: #41c083;
  outline: 0;
  box-shadow: none;
}
.input-group-text-secondary {
  background-color: #41c083;
  border: 1px solid #41c083;
}
.btn-square {
  border-radius: 0;
}
