.parlamentar-card {
  border: solid 1.5px #ebe9e9;
  margin-bottom: 1rem;
}

.parlamentar-card-header {
  display: flex;
  justify-content: space-between;
}

.parlamentar-card-id {
  min-width: 48px;
  background-color: #6c757d;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
}

.parlamentar-card-actions {
  margin-right: 1rem;
}

.parlamentar-card-body {
  padding: 1rem;
}

.parlamentar-title {
  font-weight: 700;
}

.parlamentar-score {
  text-align: right;

  @media (min-width: 576px) {
    font-size: 1.2rem;
  }
}

.parlamentar-compatibilidade-text {
  display:inline-block;
  font-size: 0.8rem;
  line-height: 1;  
}

/*Versão reduzida */
.parlamentar-card-sm {
  border: none;
  margin-bottom: 1px;
}
.parlamentar-card-sm-body {
  display: flex;
  justify-content: space-between;
}

.parlamentar-card-sm-id {
  min-width: 48px;
  background-color: #6c757d;
  padding: 0.1rem 0.1rem;
  margin-right: 0.5rem;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
}

.parlamentar-sm-progress {
  width: 50px;
}

.parlamentar-sm-score {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
