<div
  [ngClass]="{'parlamentar-card': true, 'parlamentar-card-sm': view === VIEW_SM}">
  <div class="parlamentar-card-sm-body" [hidden]="view !== VIEW_SM">
    <div class="d-flex">
      <div class="parlamentar-card-sm-id">
        {{id}}°
      </div>
      <div class="parlamentar-sm-title">
        {{ parlamentar.nome_urna }}
      </div>
    </div>
    <div class="d-flex">
      <div class="parlamentar-sm-progress">
        <app-progress
          [value]="parlamentar.alinhamento.alinhamento * 100"
          [min]="0"
          [max]="100"
          [showAxis]="false"
        ></app-progress>
      </div>
      <div class="parlamentar-sm-score">
        {{ parlamentar.alinhamento.alinhamento | percent }}
      </div>
    </div>
  </div>
  <div class="parlamentar-card-header" [hidden]="view !== VIEW_MD">
    <div class="parlamentar-card-id">{{id}}°</div>
    <div class="parlamentar-card-actions">
      <!-- TODO: área reservada para implementação futura (e.g. seguir o parlamentar) -->
      <!-- <button
        type="button"
        class="btn btn-link btn-icon"
        (click)="toggleFollow()"
      >
        <span class="icon-bookmark"></span>
      </button> -->
    </div>
  </div>
  <div class="parlamentar-card-body" [hidden]="view !== VIEW_MD">
    <div class="row gutters-sm">
      <div class="col-3">
        <img
          [defaultImage]="'assets/imgs/nophoto.png'"
          [lazyLoad]="parlamentar.getFoto()"
          [offset]="0"
          width="100%"
        >
      </div>
      <div class="col-9">
        <div class="parlamentar-title">{{ parlamentar.nome_urna }}</div>
        <p>{{ parlamentar.sg_partido }}/{{ parlamentar.uf }}</p>
        <div class="row no-gutters">
          <div class="col">
            <app-progress
              [value]="parlamentar.alinhamento.alinhamento * 100"
              [min]="0"
              [max]="100"
              [showAxis]="true"
            ></app-progress>
          </div>
          <div class="col-3 col-sm-2">
            <div class="parlamentar-score">
              {{ parlamentar.alinhamento.alinhamento | percent }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
