.sticky-footer-navbar {
  position: fixed;
  top: 42px;
  width: 100%;
  z-index: 999;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #20201e;
  color: #fff;

  @media (min-width: 992px) {
    display: none;
  }
}

.sticky-footer-navbar-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #fff;

  &.active {
    font-weight: 700;
    background-color: #20201e;
    color: #fff;
  }
}

.sticky-footer-navbar-item {
  padding-left: 0;
  padding-right: 0;
}
