<div class="sticky-footer-navbar">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item sticky-footer-navbar-item">
      <a
        [routerLink]="['/questionario']"
        [routerLinkActive]="'active'"
        class="nav-link sticky-footer-navbar-link"
        href="#"
      >
        Você
      </a>
    </li>
    <li class="nav-item sticky-footer-navbar-item">
      <a
        [routerLink]="['/alinhamento']"
        [routerLinkActive]="'active'"
        class="nav-link sticky-footer-navbar-link"
        href="#"
      >
        Resultado
      </a>
    </li>
    <li class="nav-item sticky-footer-navbar-item">
      <a
        [routerLink]="['/congresso']"
        [routerLinkActive]="'active'"
        class="nav-link sticky-footer-navbar-link"
        href="#"
      >
        Congresso
      </a>
    </li>
    <!-- <li class="nav-item">
      <a
        [routerLink]="['/congresso']"
        [routerLinkActive]="'active'"
        class="nav-link sticky-footer-navbar-link"
        href="#"
      >
        Congresso
      </a>
    </li> -->
  </ul>
</div>
