<div class="sticky-footer-navbar">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item sticky-footer-navbar-item">
      <a
        [routerLink]="['/aderencia/camara']"
        [routerLinkActive]="'active'"
        class="nav-link sticky-footer-navbar-link"
        href="#"
      >
        Câmara
      </a>
    </li>
    <li class="nav-item sticky-footer-navbar-item">
      <a
        [routerLink]="['/aderencia/senado']"
        [routerLinkActive]="'active'"
        class="nav-link sticky-footer-navbar-link"
        href="#"
      >
        Senado
      </a>
    </li>
  </ul>
</div>
