<app-sticky-footer-navbar></app-sticky-footer-navbar>
<div class="container pt-2 container-sticky-footer-navbar">
  <app-filter (filterChange)="search($event)"></app-filter>

  <div class="d-flex justify-content-between my-3">
    <div>
      <div
        *ngIf="parlamentares"
        class="parlamentar-count"
      >
        <strong class="strong">{{ parlamentares.length }}</strong>
        parlamentares
      </div>
      <div
        *ngIf="parlamentares"
        class="parlamentar-count"
      >
        <strong class="strong">{{getParlamentaresComAlinhamento()}}</strong>
        com alinhamento definido
      </div>
    </div>

    <div class="btn-toolbar">
      <div class="btn-group">
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_ARC}"
          (click)="setView('arc')"
        >
          <span class="icon-th-large"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_BEE}"
          (click)="setView('bee')"
        >
          <span class="icon-th-list"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex subtitle mt-3">
    <div>
      <app-legend
        [title]="'0-30%'"
        [class]="'alinhamento-1'"
        [striped]="false"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'50-60%'"
        [class]="'alinhamento-3'"
        [striped]="false"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'80-100%'"
        [class]="'alinhamento-5'"
        [striped]="false"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'sem alinhamento'"
        [class]="'alinhamento-indefinido'"
        [striped]="false"
      ></app-legend>
    </div>
  </div>

  <app-congresso-chart
    [parlamentares]="parlamentares"
    [parlamentaresCompleto]="parlamentaresCompleto"
    [view]="view"
    [filter]="filter"
    class="plot"
  ></app-congresso-chart>
</div>
