<nav class="navbar fixed-top bg-white">
  <div class="container">
    <div class="navbrand-wrapper">
      <a
        class="navbar-brand"
        [routerLink]="['/']"
      >
        <img
          src="assets/imgs/logo.png"
          width="100%"
          alt="Voz ativa"
        >
      </a>
    </div>
    <div class="navbar-nav-va">

      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a
            [routerLink]="['/questionario']"
            [routerLinkActive]="'active'"
            class="nav-link navbar-nav-va-link"
            href="#"
          >
            Você
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/alinhamento']"
            [routerLinkActive]="'active'"
            class="nav-link navbar-nav-va-link"
            href="#"
          >
            Resultado
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/congresso']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}"
            class="nav-link navbar-nav-va-link"
            href="#"
          >
            Congresso
          </a>
        </li>
      </ul>

    </div>
    <ul class="navbar-nav">
      <li
        *ngIf="!userAuthenticated"
        class="nav-item"
      >
        <a
          class="nav-link nav-link-login nav-link-active"
          [routerLink]="['/usuario/login']"
        >
          Entrar
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link nav-link-active"
          [routerLink]="['/sobre']"
        >
          Sobre
        </a>
      </li>
      <li class="nav-item" *ngIf="userAuthenticated">
        <div
          ngbDropdown
          class="d-inline-block nav-line"
        >
          <a
            ngbDropdownToggle
            id="dropdownUser"
          >
            <img
              [src]="user.photo"
              [alt]="user.full_name"
              class="img-user"
            >
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownUser"
          >
            <a
              ngbDropdownItem
              class="nav-link nav-link-login"
              [routerLink]="['/']"
              (click)="logoutUser()"
            >
              sair
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
