<nav class="navbar fixed-top bg-white">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['/']"
    >
      <img
        src="assets/imgs/logo.png"
        width="80"
        alt="Voz ativa"
      >
    </a>

    <ul class="navbar-nav ml-auto">
      <li
        *ngIf="!userAuthenticated"
        class="nav-item"
      >
        <a
          class="nav-link nav-link-login"
          [routerLink]="['/usuario/login']"
        >
          Entrar
        </a>
      </li>
    </ul>
    <div
      ngbDropdown
      *ngIf="userAuthenticated"
      class="d-inline-block"
    >
      <a
        ngbDropdownToggle
        id="dropdownUser"
      >
        <img
          [src]="user.photo"
          [alt]="user.full_name"
          class="img-user"
        >
      </a>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownUser"
      >
        <a
          ngbDropdownItem
          class="nav-link nav-link-login"
          [routerLink]="['/']"
          (click)="logoutUser()"
        >
          sair
        </a>
      </div>
    </div>
  </div>
</nav>
