.axis-trajetoria {
  > .tick {
    > line {
      stroke-width: 1.5;
      stroke: #ced4da;
    }
    &.opaque {
      opacity: 0.3;

      > text {
        visibility: hidden;
      }
    }
  }
}

.axis-trajetoria {
  > .axis--y {
    > .tick {
      opacity: 0.3;
    }
    > .tick:first-child {
      > line {
        visibility: hidden;
      }
    }
  }
}
