.axis-trajetoria {
  > .tick {
    > line {
      stroke-width: 1.5;
      stroke: #ced4da;
    }
    &.opaque {
      opacity: 0.3;

      > text {
        visibility: hidden;
      }
    }
  }
}

.axis-trajetoria {
  > .axis--y {
    > .tick {
      opacity: 0.3;
    }
    > .tick:first-child {
      > line {
        visibility: hidden;
      }
    }
  }
}

.circle-patrimonio {
  cursor: pointer;
}

.tip-trajetoria {
  line-height: 1.25;
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 2px solid #20201e;
  z-index: 999;
}

.tip-trajetoria strong {
  font-weight: bold;
  text-transform: capitalize;
}

.tip-trajetoria .subtitle {
  font-weight: normal;
  color: #adb5bd;
}

.tip-trajetoria:after {
  box-sizing: border-box;
  display: inline-block;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #20201e;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.tip-trajetoria.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
