<div class="votacao">
  <div class="votacao-body">
    <div class="votacao-title">{{ proposicao?.projetoLei }}</div>

    <!-- Votos -->
    <div class="votos-wrapper">
      <div class="d-flex">
        <div class="votos-header">
          <div class="votos-box-A">
            Deputado
            <span class="icon-chevron-right"></span>
          </div>
          <div class="votos-box-B">
            Governo
            <span class="icon-chevron-right"></span>
          </div>
        </div>
        <div class="votos">
          <div
            class="votos-box"
            *ngFor="let votacao of proposicao?.proposicaoVotacoes"
            [ngbPopover]="tooltipVotacoes"
            container='body'
            triggers="mouseenter:mouseleave"
          >
            <div [ngClass]="getClass(parlamentar?.votos[votacao.idVotacao])">
              <span class="d-none">
                {{ parlamentar?.votos[votacao.idVotacao] }}
              </span>
            </div>
            <div [ngClass]="getClass(orientacao?.orientacoes[votacao.idVotacao])">
              <span class="d-none">
                {{ orientacao?.orientacoes[votacao.idVotacao] }}
              </span>
            </div>
            <ng-template #tooltipVotacoes>
              <div class="tooltip-votacao">
                <div class="text-votante">{{ votacao.objetoVotacao }}</div>
                <div>{{ proposicao?.projetoLei }}</div>
                <div class="row text-votante gutters-sm">
                  <div class="col">
                    {{ parlamentar?.genero === "F" ? "ELA" : "ELE" }} {{ parlamentar?.votos[votacao.idVotacao] === 0 ? "" : "VOTOU" }}
                  </div>
                  <div class="col">
                    GOVERNO {{ orientacao?.orientacoes[votacao.idVotacao] ? "INDICOU" : "" }}
                  </div>
                </div>
                <div class="row gutters-sm">
                  <div class="col text-center">
                    <div [ngClass]="getVotacaoClass(parlamentar?.votos[votacao.idVotacao])">
                      <span>
                        {{ getTextoVoto(parlamentar.votos[votacao.idVotacao]) }}
                      </span>
                    </div>
                  </div>
                  <div class="col text-center">
                    <div [ngClass]="getVotacaoClass(orientacao?.orientacoes[votacao.idVotacao])">
                      <span>
                        {{ getTextoVoto(orientacao.orientacoes[votacao.idVotacao]) }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <!-- Votos -->
    <!-- <div class="votos-wrapper">
      <div class="d-flex">
        <div class="votos-header">
          <div class="votos-box-A">
            Aderência
            <span class="icon-chevron-right"></span>
          </div>
        </div>
        <div class="votos">
          <div
            class="votos-box"
            *ngFor="let votacao of proposicao.proposicaoVotacoes"
          >
            <div [ngClass]="getClassComparado(parlamentar.votos[votacao.idVotacao], orientacao.orientacoes[votacao.idVotacao])"></div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
