.subtitle-wrapper {
  height: 50px;
}

.subtitle {
  flex-wrap: wrap;
}

.btn-toolbar {
  line-height: 3.2rem;
  justify-content: center;
}

.chart-controls-info {
  order: 0;
  line-height: 3.2rem;
}

.chart-controls-info2 {
  order: 2;
  @media (min-width: 992px) {
    order: 1;
  }
}

.chart-controls-btns {
  order: 1;
  @media (min-width: 992px) {
    order: 2;
  }
}

.controls {
  background-color: #ffffff;

  @media (max-width: 575.98px) {
    display: flex;
    justify-content: space-between;

    // position: -webkit-sticky;
    // position: sticky;
    // top: 93px;
    z-index: 1050;
  }
}

.count {
  display: flex;

  @media (max-width: 575.98px) {
    height: 80px;
    flex-direction: column;
    justify-content: center;
    min-width: 120px;
    font-size: 0.8rem;
  }
}

.votacoes-count {
  @media (min-width: 576px) { 
    margin-left: 2rem;
  }
}

.controls-toolbar {
  line-height: 36px;

  @media (min-width: 576px) {
    display: flex;
    justify-content: center;
  }
}

