<app-sticky-footer-navbar></app-sticky-footer-navbar>
<div class="container py-4 container-sticky-footer-navbar">
  <h4 class="title-main">Alinhamento da {{ casa }} ao Governo</h4>

  <app-filter (filterChange)="search($event)"></app-filter>

  <header class="controls my-3">
    <div class="parlamentar-count">
      <strong class="strong">{{ parlamentares.length }}</strong>
      parlamentares
    </div>
    <div>
      <div class="btn-toolbar">
        <div class="d-none d-md-block">Exibir:</div>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view === VIEW_ARC}"
          (click)="setView('arc')"
        >
          <span class="icon-arc"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view === VIEW_BEE}"
          (click)="setView('bee')"
        >
          <span class="icon-beeswarm"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_LG}"
          (click)="setView('lg')"
        >
          <span class="icon-th-large"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_MD}"
          (click)="setView('md')"
        >
          <span class="icon-th"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_SM}"
          (click)="setView('sm')"
        >
          <span class="icon-th-list"></span>
        </button>
        <div class="d-none d-md-block">Ordernar:</div>
        <button
          class="btn btn-light btn-light-icon active"
          (click)="toggleOrderBy()"
        >
          <span [ngClass]="{'icon-sort-amount-asc' : orderBy !== 'DESC', 'icon-sort-amount-desc' : orderBy === 'DESC'}"></span>
        </button>
      </div>
    </div>
  </header>

  <div [hidden]="!getVisaoPlenario()">
    <app-congresso-chart
      [parlamentares]="parlamentares"
      [parlamentaresCompleto]="parlamentaresCasa"
      [view]="view"
      [filter]="filtro"
      [modo]="'aderencia'"
      class="plot"
      (viewEvent)="setView($event)"
      (finishEvent)="setChartVisibility($event)"
    ></app-congresso-chart>

    <app-congresso-chart-legenda></app-congresso-chart-legenda>
  </div>
  <div [hidden]="getVisaoPlenario()">
    <app-aderencia-parlamentares
      [parlamentares]="parlamentares"
      [view]="view"
      [orderBy]="orderBy"
    ></app-aderencia-parlamentares>
  </div>

</div>
