<app-sticky-footer-navbar></app-sticky-footer-navbar>
<div class="container py-4 container-sticky-footer-navbar">
  <h4 class="title-main">
    Aderência ao
    <span class="text-nowrap">
      Governo
      <span
        class="icon-question-circle icon-btn-help"
        (click)="open(content)"
      ></span>
    </span>
  </h4>

  <div class="row no-gutters">
    <div class="col-6 text-right">
      <a
        class="btn btn-select"
        [class.active]="isActive('camara')"
        [routerLink]="['/aderencia/camara']"
      >
        Câmara
      </a>
    </div>
    <div class="col-6">
      <a
        class="btn btn-select"
        [class.active]="isActive('senado')"
        [routerLink]="['/aderencia/senado']"
      >
        Senado
      </a>
    </div>
  </div>

  <app-filter
    [exibirTemas]="true"
    (filterChange)="search($event)"
  ></app-filter>

  <header class="controls py-2">
    <div class="parlamentar-count">
      <strong class="strong">{{ parlamentares?.length }}</strong>
      parlamentares
    </div>
    <div class="controls-toolbar">
      <div class="btn-toolbar">
        <div class="d-none d-md-block">Exibir:</div>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view === VIEW_ARC}"
          (click)="setView('arc')"
        >
          <span class="icon-arc"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view === VIEW_BEE}"
          (click)="setView('bee')"
        >
          <span class="icon-beeswarm"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_LG}"
          (click)="setView('lg')"
        >
          <span class="icon-th-large"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_MD}"
          (click)="setView('md')"
        >
          <span class="icon-th"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_SM}"
          (click)="setView('sm')"
        >
          <span class="icon-th-list"></span>
        </button>
        <div class="d-none d-md-block">Ordernar:</div>
        <button
          class="btn btn-light btn-light-icon active"
          (click)="toggleOrderBy()"
        >
          <span [ngClass]="{'icon-sort-amount-asc' : orderBy !== 'DESC', 'icon-sort-amount-desc' : orderBy === 'DESC'}"></span>
        </button>
      </div>
    </div>
  </header>

  <div [hidden]="!getVisaoPlenario()">
    <app-congresso-chart
      [parlamentares]="parlamentares"
      [parlamentaresCompleto]="parlamentaresCasa"
      [view]="view"
      [filter]="filtro"
      [modo]="'aderencia'"
      class="plot"
      (viewEvent)="setView($event)"
      (finishEvent)="setChartVisibility($event)"
    ></app-congresso-chart>

    <app-congresso-chart-legenda></app-congresso-chart-legenda>
  </div>
  <div [hidden]="getVisaoPlenario()">
    <app-aderencia-parlamentares
      [parlamentares]="parlamentares"
      [view]="view"
      [filter]="filtro"
    ></app-aderencia-parlamentares>
  </div>

</div>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">
    <h5 class="modal-title">Sobre</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Fechar"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p>
        Comparamos o voto parlamentar - "sim", "não" ou abstenção - com a orientação dada pelo governo em relação a cada votação, mostrando o índice de alinhamento, isto é, o quanto este voto acompanha ou não a indicação dada  pela liderança do Governo na Câmara ou no Senado.
      </p>
      <p>
        Consideramos a totalidade de votos de cada parlamentar nas votações nominais em 2019 para verificar  seu alinhamento  (em termos percentuais) com a orientação dada pelo governo, por intermédio de seu líder, ou quem o esteja representando.
      </p>
    </div>
    <div class="text-right">

      <button
        class="btn btn-primary"
        (click)="modal.dismiss()"
      >
        Fechar
      </button>

    </div>

  </div>
</ng-template>
