<div class="cargos container-sm my-3">
  <div
    *ngIf="liderancaLista?.parlamentarLiderancas.length == 0 && comissoesLista?.parlamentarComissoes.length == 0"
    class="mt-4 d-flex justify-content-center"
  >
  Sem lideranças partidárias ou cargos em comissões.
  </div>
  <div
    *ngIf="liderancaLista?.parlamentarLiderancas.length > 0"
    class="mb-4"
  >
    <div class="mb-3">
      <h5 class="font-italic font-weight-normal">Lideranças</h5>
    </div>
    <div class="pl-4">
      <app-cargo [cargos]="liderancas"></app-cargo>
    </div>
  </div>
  <div
    *ngIf="comissoesLista?.parlamentarComissoes.length > 0"
    class="mb-4"
  >
    <div class="mb-3">
      <h5 class="font-italic font-weight-normal">Comissões</h5>
    </div>
    <div class="pl-4">
      <app-cargo [cargos]="comissoes"></app-cargo>
    </div>
  </div>
</div>
