.pergunta-container {
  background-color: #ffffff;
}

.question-theme {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .question-theme {
    margin-top: 3rem;
    margin-bottom: 0;
    font-size: 1.7rem;
  }
}

.question-wrapper {
  min-height: 100px;
}
@media (min-width: 992px) {
  .question-wrapper {
    min-height: 180px;
  }
}
.question {
  font-size: 1rem;
  color: #5b2762;
}

@media (min-width: 992px) {
  .question {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.question-help-content {
  padding: 1rem;
  border: solid 1px #41c083;
  color: #41c083;
}
.btn-group-lg > .btn-in-favor {
  padding-left: 1.7rem;
}

.btn-group-lg > .btn-against {
  padding-right: 1.7rem;
}
