<div class="container-sm my-3">
  <h4 class="title-main my-4">Investimento partidário na campanha</h4>
  <app-capital-chart [parlamentar]="parlamentar"></app-capital-chart>
  <app-legend
    [title]="'Total'"
    [class]="'voto-obstrucao'"
    [striped]="false"
  ></app-legend>
  <div class="d-flex">
    <div>
      <app-legend
        [title]="'Fundo eleitoral'"
        [class]="'tema-primary'"
        [striped]="false"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'Outros'"
        [class]="'neutro'"
        [striped]="false"
      ></app-legend>
    </div>
  </div>
</div>
