<div class="container-sm my-3">
  <h4 class="title-main my-4">Investimento partidário na campanha</h4>
  <app-loading [hidden]="!isLoading"></app-loading>
  <div [hidden]="isLoading">
    <div
      [hidden]="!parlamentar?.partidoInvestimento?.valor"
      class="capital-chart-wrapper"
    >
      <app-capital-chart [parlamentar]="parlamentar"></app-capital-chart>
    </div>
    <div
      *ngIf="!parlamentar?.partidoInvestimento?.valor && parlamentar?.partidoEleicao?.sigla != 'SPART'"
      class="text-center"
    >
      Não houveram investimentos do partido nessa UF.
    </div>
    <div
      *ngIf="parlamentar?.partidoEleicao?.sigla == 'SPART'"
      class="text-center"
    >
      O parlamentar não participou das eleições em 2018.
    </div>
  </div>
</div>
