.person-data {
  margin-left: 1rem;
}

.person-name {
  margin: 0;
  font-weight: 700;
}

.person-name > small {
  border-left: solid 1px #a963b3;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.person-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}