<div class="home container-sticky-footer-navbar">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="text-center">
          <span class="icon-quadrado icon-lg"></span>
        </div>
        <h2 class="text-center">
          Descubra quais deputados/as e são
          <strong class="text-strong">alinhados</strong>
          com você.
        </h2>
        <div class="text-center pt-5">
          <a
            class="btn btn-primary"
            [routerLink]="['/questionario']"
          >
            Vamos lá
          </a>
        </div>
        <div class="mt-3 text-center">
          <a
            class="btn btn-link"
            [routerLink]="['/login']"
          >
            Já tenho cadastro
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-sticky-footer-navbar></app-sticky-footer-navbar>
