<app-sticky-footer-navbar></app-sticky-footer-navbar>
<div class="home container-sticky-footer-navbar">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="text-center">
          <img
            src="assets/icons/96x96.png"
            width="96"
            height="96"
            alt="Voz ativa"
          >
        </div>
        <h2 class="text-center">
          Descubra quais deputados/as são
          <strong class="text-strong">alinhados</strong>
          com você.
        </h2>
        <div class="text-center pt-5">
          <a
            class="btn btn-primary"
            [routerLink]="['/questionario']"
          >
            Vamos lá
          </a>
        </div>
        <div class="mt-3 text-center">
          <a
            class="btn btn-link"
            [routerLink]="['/usuario/login']"
          >
            Já tenho cadastro
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
