<div class="home">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="text-center">
          <span class="icon-quadrado icon-lg"></span>
        </div>
        <h2 class="text-center">Descubra quais deputados/as e candidatos/as são <strong class="strong">alinhados</strong>
          com você.</h2>
        <div class="text-center pt-5">
          <button type="button" class="btn btn-primary" [routerLink]="['/questionario']">Vamos lá</button>
        </div>
      </div>
    </div>
  </div>
</div>