<div class="posicoes container-sm">
  <h4 class="title-main my-3">Votações em cada proposição</h4>

  <div class="votacoes-legend">
    <div>
      <app-legend
        [title]="'sim'"
        [class]="'voto-sim'"
        [striped]="false"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'não'"
        [class]="'voto-nao'"
        [striped]="false"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'liberado'"
        [class]="'voto-liberou'"
        [striped]="false"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'faltou'"
        [class]="'voto-faltou'"
        [striped]="false"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'obstrução'"
        [class]="'voto-obstrucao'"
        [striped]="false"
      ></app-legend>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center my-3 pl-4">

  <div class="form-group form-group-plus">
    <select
      class="form-control form-control-plus"
      id="tema"
      [(ngModel)]="temaSelecionado"
      (ngModelChange)="filtraProposicoesPorTema($event)"
      name="tema"
    >
      <option
        *ngFor="let tema of temas"
        [value]="tema.idTema"
      >
        {{ tema.tema }}
      </option>
    </select>
  </div>
</div>
<div class="posicoes container-sm">
  <app-votacao
    *ngFor="let proposicao of proposicoesFiltradas"
    [proposicao]="proposicao"
    [parlamentar]="parlamentar"
    [orientacao]="orientacao"
  ></app-votacao>
</div>
