.nav-horizontal {
  overflow: auto;
  word-wrap: normal;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-horizontal-pills {
  width: 900px;
}

/*@media (max-width: 1420px) {
  .nav-horizontal-pills {
    width: 900px;
  }
}*/

@media (max-width: 1090px) {
  .nav-horizontal-pills-sm {
    width: 600px;
  }
}

.icon-current {
  display: block;
  font-size: 1.5rem;
  opacity: 0;
}

.nav-pills .nav-link.active > .icon-current {
  opacity: 1;
}

.nav-pills .nav-link.done {
  color: #41c083;
  background: transparent;
  border-bottom: solid 6px rgba(65, 192, 131, 0.2);
}

.nav-tabs {
  border-bottom: 1px solid #ddc1e1;
  background-color: #ffffff;
}

.nav-tabs-secondary {
  border-bottom: 1px solid #41c083;
}

.nav-tabs .nav-link {
  background-color: #ddc1e1;
  color: #ffffff;
  border: 1px solid transparent;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #a963b3;
  border-color: #a963b3;
}

.nav-tabs-secondary .nav-link {
  background-color: rgba(65, 192, 131, 0.5);
  color: #ffffff;
}

.nav-tabs-secondary .nav-item.show .nav-link,
.nav-tabs-secondary .nav-link.active {
  background-color: #41c083;
  border-color: #41c083;
}
