a.nav-link:not([href]):not([tabindex]) {
  color: #cccccc;
}
a.nav-link-a:not([href]):not([tabindex]) {
  color: #ffffff;
}
a.nav-link-b.active:not([href]):not([tabindex]) {
  color: #41c083;
}
a.nav-link.done:not([href]):not([tabindex]) {
  color: rgba(65, 192, 131, 0.4);
}
.nav-link {
  font-weight: 700;
}
.nav-link:hover {
  cursor: pointer;
}
.nav-pills .nav-link {
  padding: 0;
  padding-bottom: 0.5rem;
  border-radius: 0;
  border-bottom: solid 6px #eeeeee;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #41c083;
  background: transparent;
  border-bottom: solid 6px #41c083;
}
.card {
  border: none;
}
.card-header {
  padding: 0;
  background-color: #ffffff;
  border: none;
  border-bottom: solid 2px #a963b3;
}
.card-body {
  padding: 0;
}
.btn {
  text-transform: lowercase;
  border-radius: 20px;
}
.btn-sm {
  border-radius: 0;
}
.btn-primary {
  color: #fff;
  background-color: #a963b3;
  border-color: #a963b3;
}
.btn-primary:hover {
  color: #fff;
  background-color: #a963b3;
  border-color: #a963b3;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #a963b3;
  border-color: #a963b3;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(91, 39, 98, 0.5);
}
.btn-secondary {
  color: #fff;
  background-color: #5b2762;
  border-color: #5b2762;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5b2762;
  border-color: #5b2762;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #5b2762;
  border-color: #5b2762;
}
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(221, 193, 225, 0.5);
}
.btn-outline-primary {
  color: #a963b3;
  border-color: #a963b3;
}
.btn-outline-primary:hover {
  color: #a963b3;
  background-color: #ffffff;
  border-color: #a963b3;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #a963b3;
  border-color: #a963b3;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(221, 193, 225, 0.5);
}
.btn-outline-secondary {
  color: #41c083;
  border-color: #41c083;
}
.btn-outline-secondary:hover {
  color: #41c083;
  background-color: #ffffff;
  border-color: #41c083;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #41c083;
  border-color: #41c083;
}
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(65, 192, 131, 0.5);
}
.btn-link {
  color: #41c083;
}
.btn-link:hover {
  color: #41c083;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
  border-color: #ffffff;
}

.form-control {
  color: #fff;
  background-color: #ddc1e1;
  border: 1px solid #ddc1e1;
  border-radius: 24px;
  font-weight: 700;
}
.form-control:focus {
  color: #ffffff;
  background-color: #ddc1e1;
  border-color: #ddc1e1;
  outline: 0;
  box-shadow: none;
}
.input-group-text {
  color: #fff;
  background-color: #ddc1e1;
  border: 1px solid #ddc1e1;
  border-radius: 24px;
  padding: 0.375rem 0 0.375rem 0.75rem;
}
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

.progress {
  border-radius: 0;
}
.progress-bar {
  background-color: #a963b3;
}

.table {
  font-size: 0.85rem;
}

.table .thead-dark th {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-color: transparent;
  background-color: #5b2762;
  vertical-align: middle;
}

.table-bordered td,
.table-bordered th {
  border: 4px solid #ffffff;
  background-color: #f8f9fa;
}

.table td.table-row-center,
.table th.table-row-center {
  vertical-align: middle;
}
.table-bordered td.in-favor,
.table-bordered th.in-favor {
  background-color: #a963b3;
  color: #ffffff;
  font-weight: 700;
}
.table-bordered td.against,
.table-bordered th.against {
  background-color: #5b2762;
  color: #ffffff;
  font-weight: 700;
}
.table-bordered td.dont-know,
.table-bordered th.dont-know {
  background-color: #cccccc;
  color: #ffffff;
  font-weight: 700;
}

.pagination-sm {
  justify-content: center;
}

.page-link {
  color: #5b2762;
  font-weight: 700;
}
.page-link:hover {
  background-color: #a963b3;
  color: #ffffff;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.75rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #a963b3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #5b2762;
}

.navbar-light {
  border-bottom: solid 4px #a963b3;
}
