<div class="tema">
  <p class="pt-3">Quais temas você tem mais interesse?</p>
  <div class="p-1">
    <button *ngFor="let tema of temas" class="btn btn-outline-secondary nohover m-1" role="button" [ngClass]="{'active': isTemaSelected(tema.id), 'aria-pressed': 'false'}"
      (click)="clickButton(tema.id)">
      {{ tema.tema }}
    </button>
  </div>
  <div class="text-center pt-5" [hidden]="!hasAnySelectedTema">
    <button type="button" class="btn btn-primary">Dar minha opinião</button>
  </div>
</div>